cython
pretty_midi 
librosa
midi2audio
requests
watchdog
crepe
numpy
soundfile
audioread
noisereduce
resampy
pydub
scipy
psutil
aubio
pybind11
samplerate
numba==0.56.4
llvmlite==0.39.1
pyworld
webrtcvad
pyrubberband==0.3.0
scikit-learn
torch
torchaudio
